doctype html
html
    head
        meta(charset="utf-8")
        title I'm learning Webpack!
        link(rel="stylesheet", type="text/css", href="style/redthings.css")
        link(rel="stylesheet", type="text/css", href="style/bluethings.css")
        script(src="js/hello.js")
        script(src="js/42.js")
    body
        h1 Hello world!
        p This is a test.
        div
            h1 This title is inside a div.
            p This paragraph too.
